---
title: Index page
---

{% set cities = [
	{ name: "Город*", value: "hide" },
    { name: "Киев", value: "kiev" },
    { name: "Львов", value: "lvov" },
    { name: "Днепропетровск", value: "dnepr" },
    { name: "Черкассы", value: "cherk" },
    { name: "Бровары", value: "brovary" },
    { name: "Винница", value: "vinnica" },
    { name: "Тернополь", value: "ternopol" },
    { name: "Харьков", value: "charkov" },
    { name: "Борисполь", value: "boryspol" },
    { name: "Черновцы", value: "chernivtsi" }
  ]
%}


{% extends "layouts/_layout.html" %}

{% block content %}

<section class="form-user">
	<div class="container">
		<div class="cities  form-user__wrap">
			<div class="select">
				<select class="cities__select">

					{% for city in cities %}
						<option class="cities__option" value="{{city.value}}">{{city.name}}</option>
					{% endfor %}

				</select>
			</div>
		</div>
	</div>
</section>

{% endblock %}

